body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Запрещаем скролл */
    font-family: Arial, sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Скрываем все, что выходит за границы контейнера */
    z-index: -1; /* Помещаем видеофон на задний план */
}

.video-background video {
    display: block; /* Убираем возможное дополнительное пространство под видео */
    width: 100vw; /* Ширина равна ширине viewport */
    height: 100vh; /* Высота равна высоте viewport */
    object-fit: cover; /* Видео будет заполнять контейнер, обрезаясь при необходимости */
}

.content {
    position: relative;
    z-index: 1; /* Размещаем контент поверх видео */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px; /* Небольшой отступ для контента */
    box-sizing: border-box; /* Учитываем padding в общей ширине/высоте */
    background-color: rgba(0, 0, 0, 0.3); /* Добавим полупрозрачный фон для читаемости текста */
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title, .subtitle {
    opacity: 0; /* Начальная прозрачность */
    color: #f0f0f0; /* Более мягкий белый */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Небольшая тень для объема */
}

.title {
    font-size: 2.5em; /* Немного увеличим размер */
    margin-bottom: 15px;
    animation: swirlIn 2s ease-in-out forwards, hold 2s forwards 2s, swirlOut 2s ease-in-out forwards 4s;
}

.subtitle {
    font-size: 1.2em; /* Немного увеличим размер */
    animation: swirlIn 2s ease-in-out 0.5s forwards, hold 2s forwards 2.5s, swirlOut 2s ease-in-out forwards 4.5s;
}

@keyframes swirlIn {
    0% {
        transform: rotate(90deg) scale(0);
        opacity: 0;
    }
    100% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}

@keyframes swirlOut {
    0% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: rotate(-90deg) scale(0);
        opacity: 0;
    }
}

@keyframes hold {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
